.myrow{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.mycontainer{
  margin: 10px auto;
}
input{
  width: 100%;
  border-radius:5px 5px;
}
.mybtn{
  width: 50%;
  /* height: 5px; */
  
}